@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: #efefef;
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #efefef;
}
.wrapper {
    max-width: 1243px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 7px;
}
.wrapper_header {
    margin-top: 45px;
    min-width: 1284px;
    display: flex;
    flex-direction: row;
    gap: 55px;
}
.navigation {
    margin-top: 1px;
    min-width: 819px;
    background-color: #004EA1;
}
.navigation_list {
    display: flex;
    flex-direction: row;
}
.item {
    list-style: none;
    padding: 26px 53px;
}
.search {
    background-color: #004EA1;
    padding: 13px 15px 11px 16px;
}
